{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <p>Delete?</p>
    <input type="submit" value="Add Telescope Listing" class="btn btn-danger"/>
</form>
{{/block}}
{{/extends}}