{{#extends 'base'}}
{{#block 'content'}}
{{!-- <img src="{{this.telescope.image_url}}" id="uploadcare" style="height: 400px;"> --}}

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    {{{form}}}
    <input type="submit" value="Update Telescope Listing" class="btn btn-primary"/>
    <input type="hidden" role="uploadcare-uploader" id="uploadcare" value="" />
    
</form>
{{/block}}
{{/extends}}

{{#block js}}

<script>
    UPLOADCARE_PUBLIC_KEY = '183eee4d9cd149ef9e70';

    document.querySelector("#create").addEventListener("click", () => {
        document.querySelector("#id_image_url").value = document.querySelector("#uploadcare").value

    })
</script>

<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
{{/block}}