{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}
    <input type="submit" value="Add Orders" class="btn btn-primary" id="create" />
    <input type="hidden" role="uploadcare-uploader" id="uploadcare" value="" />

</form>
{{/block}}
{{/extends}}