
{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div id="form1" style="display: block;">
        {{{form}}}
                <input type="submit" value="Register" class="btn btn-primary"/>

    </div>
</form>
{{/block}}
{{/extends}}

{{#block 'js'}}

{{/block}}