{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary" value="Login"/>
    <a class="btn btn-info" href="/users/register">Register<a>
</form>
{{/block}}
{{/extends}}