{{#extends 'base'}}
{{#block 'content'}}
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

    <div class="container">
        <div class="row">
            
            <div class="col-5 login-section">
                {{{form}}}
                <input type="submit" class="btn btn-primary" value="Login"/>
            </div>
            
        </div>
    </div>

    
    
</form>
{{/block}}
{{/extends}}